.button-container {
    display: flex;
    padding: 10px;
}

.car button {
    /*border: 2px solid;*/
    border-radius: 50%;
    color: goldenrod;
    background-color: red;
    outline: none;
    height: 100px;
    width: 100px;
    font-size: 200%;
}

.cop button {
    margin-left: 250px;
    border-radius: 50%;
    color: red;
    background-color: blue;
    outline: none;
    height: 100px;
    width: 100px;
    font-size: 160%;
    /*background-image: url(http://png.clipart.me/graphics/thumbs/142/funny-blue-police-car-cartoon-isolated-on-white-background_142368763.jpg)*/
}

.bike button {
    margin-left: 250px;
    border-radius: 50%;
    color: silver;
    background-color: black;
    outline: none;
    height: 100px;
    width: 100px;
    font-size: 125%;
}

.tank button {
    margin-left: 250px;
    border-radius: 50%;
    color: burlywood;
    background-color: #78866b;
    outline: none;
    height: 100px;
    width: 100px;
    font-size: 200%;
    background-image: URL(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRxOV94VQho_DbKezKU9nrH-JDvRMcFKiL2EkvEbJ-PXm25Pw3EPo5tvSdC);    
}
.new {
    border: solid black;
    height: 600px;
    width: 600px;
    color: red;
}